<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="Auth">
      <file>AuthTest.php</file>
    </testsuite>
    <testsuite name="DockerClientStats">
      <file>DockerClientStatsTest.php</file>
    </testsuite>
    <testsuite name="ImageReference">
      <file>ImageReferenceTest.php</file>
    </testsuite>
    <testsuite name="UpdateCheck">
      <file>UpdateCheckTest.php</file>
    </testsuite>
    <testsuite name="PathSafety">
      <file>PathSafetyTest.php</file>
    </testsuite>
    <testsuite name="AdoptBuilder">
      <file>AdoptBuilderTest.php</file>
    </testsuite>
    <testsuite name="FolderManager">
      <file>FolderManagerTest.php</file>
    </testsuite>
    <testsuite name="ServerTimezone">
      <file>ServerTimezoneTest.php</file>
    </testsuite>
    <testsuite name="ScheduleManager">
      <file>ScheduleManagerTest.php</file>
    </testsuite>
    <testsuite name="ScheduleAction">
      <file>ScheduleActionTest.php</file>
    </testsuite>
    <testsuite name="ScheduleClaim">
      <file>ScheduleClaimTest.php</file>
    </testsuite>
    <testsuite name="ScheduleMigration">
      <file>ScheduleMigrationTest.php</file>
    </testsuite>
    <testsuite name="ComposeExec">
      <file>ComposeExecTest.php</file>
    </testsuite>
    <testsuite name="ComposeServiceNames">
      <file>ComposeServiceNamesTest.php</file>
    </testsuite>
    <testsuite name="ContainerFacts">
      <file>ContainerFactsTest.php</file>
    </testsuite>
    <testsuite name="BackupDelete">
      <file>BackupDeleteTest.php</file>
    </testsuite>
    <testsuite name="BackupSafety">
      <file>BackupSafetyTest.php</file>
    </testsuite>
    <testsuite name="SecurityAdvisor">
      <file>SecurityAdvisorTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
